body {
	--fsAddBuffer: 22px;
}
[id='div-gpt-ad-728x90-ATF'],
[id='div-gpt-ad-728x90-GeneralHeader'],
[id='div-gpt-ad-728x90-Footer'],
[id='div-gpt-ad-728x90-BTF-1'],
[id='div-gpt-ad-300x250-Mobile-1'],
[id='div-gpt-ad-300x250-ATF'],
[id='div-gpt-ad-728x90-BTF-2'],
[id='div-gpt-ad-728x90-BTF-3'],
[id='fbref-com_300x250_BTF-1-1'],
[id='fbref-com_300x250_BTF-1-3'],
[id='fbref-com_300x250_BTF-1-2'],
[id='fbref-com_incontent_1'],
[id='fbref-com_incontent_2'],
[id='fbref-com_incontent_3'],
[id='fbref-com_incontent_4'] {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: calc(var(--height) + var(--fsAddBuffer));
	height: calc(var(--height) + var(--fsAddBuffer));
	width: 100%;
}
[id='div-gpt-ad-300x250-Mobile-1'] {
		--height: 250px;
}
[id='div-gpt-ad-728x90-BTF-1'] {
		--height: 250px;
}
[id='div-gpt-ad-728x90-BTF-2'] {
		--height: 280px;
}
[id='div-gpt-ad-728x90-BTF-3'] {
		--height: 360px;
}
[id='div-gpt-ad-728x90-Footer'] {
		--height: 280px;
}
[id='div-gpt-ad-728x90-GeneralHeader'] {
		--height: 250px;
}
[id='fbref-com_300x250_BTF-1-1'] {
		--height: 600px;
}
[id='fbref-com_300x250_BTF-1-2'] {
		--height: 100px;
}
[id='fbref-com_300x250_BTF-1-3'] {
		--height: 100px;
}
[id='fbref-com_incontent_1'] {
		--height: 280px;
}
[id='fbref-com_incontent_2'] {
		--height: 280px;
}
[id='fbref-com_incontent_3'] {
		--height: 280px;
}
[id='fbref-com_incontent_4'] {
		--height: 280px;
}
@media only screen and (min-width: 735px) {
	[id='div-gpt-ad-300x250-ATF'] {
		--height: 250px;
	}
}
@media only screen and (min-width: 768px) {
	[id='div-gpt-ad-728x90-BTF-1'] {
		--height: 250px;
	}
	[id='div-gpt-ad-728x90-BTF-2'] {
		--height: 250px;
	}
	[id='div-gpt-ad-728x90-BTF-3'] {
		--height: 360px;
	}
	[id='div-gpt-ad-728x90-Footer'] {
		--height: 250px;
	}
	[id='div-gpt-ad-728x90-GeneralHeader'] {
		--height: 90px;
	}
	[id='fbref-com_300x250_BTF-1-1'] {
		--height: 250px;
	}
	[id='fbref-com_300x250_BTF-1-2'] {
		--height: 250px;
	}
	[id='fbref-com_300x250_BTF-1-3'] {
		--height: 250px;
	}
	[id='fbref-com_incontent_1'] {
		--height: 250px;
	}
	[id='fbref-com_incontent_2'] {
		--height: 250px;
	}
	[id='fbref-com_incontent_3'] {
		--height: 250px;
	}
	[id='fbref-com_incontent_4'] {
		--height: 250px;
	}
}
@media only screen and (min-width: 799px) {
	[id='div-gpt-ad-728x90-ATF'] {
		--height: 90px;
	}
}
@media only screen and (min-width: 1000px) {
	[id='fbref-com_incontent_1'] {
		--height: 250px;
	}
	[id='fbref-com_incontent_2'] {
		--height: 250px;
	}
	[id='fbref-com_incontent_3'] {
		--height: 250px;
	}
	[id='fbref-com_incontent_4'] {
		--height: 250px;
	}
}
